@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>دلفين</h1>
    
    <p class="lead">
        أهلا بك
        <br>
        منصة دلفين هي الأولى من نوعها في الوطن العربي التي توفر لك رؤية أفضل عروض ومنتجات شركات الطاقة الشمسية في منطقتك والمقارنة بينها وطلب المنتجات التي تلبي احتياجاتك من الطاقة النظيفة
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">اقرأ المزيد &raquo;</a></p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4-offest-md4-form-div select"
        <p>
            <form action="select.html" method="POST">
                <h2 class="text-center">حدد معلوماتك</h2>

                الدولة  <select name="contry">
                    <option> سوريا</option>
                    <option> ليبيا</option>
                    <option> اليمن</option>
                    <option> العراق</option>
                    <option> مصر</option>
                </select>
                <br />
                <br />
                القدرة التشغيلية بالأمبير  <select name="contry">
                    <option> 1 </option>
                    <option> 3</option>
                    <option> 5</option>

                </select>

                <br />
                <br />
                الحد الأعلى للسعر <select name="contry">
                    <option> 100$ </option>
                    <option> 300$</option>
                    <option> 500$</option>

                </select>




            </form>
       </div>
    </div>
</div>